<header class="header">
	<div class="grid wide">
		<div class="header-top row">
			<div class="menu-mobile active col col-lg-0 col-md-0 col-sm-2">
				<i id="navbar-mobile__icon-list" class="iconify menu-mobile__icon" data-icon="bi:card-list"></i>
				<i
					id="navbar-mobile__icon-close"
					class="iconify menu-mobile__icon"
					style="display: none"
					data-icon="mdi:close-box-outline"
				></i>
			</div>

			<div class="header-logo col col-lg-3 col-md-3 col-sm-7">
				<a href="./" class="header-logo-link">
					<h1 class="header-logo__logo"><%= header.title %></h1>
				</a>
			</div>

			<div class="header-search col col-lg-5 col-md-6 col-sm-10 col-sm-o-1 sm-hidden">
				<div class="header-search__box">
					<input type="text" placeholder="Nhập từ khóa tìm kiếm..." class="header-search__input" />
					<i class="iconify header-search__icon-search" data-icon="bx:search"></i>
					<i class="iconify header-search__icon-load hidden" data-icon="eos-icons:loading"></i>
				</div>
				<ul class="header-search__results-list">
					<li class="header-search__results-item">Kết quả cho: <span>Từ khóa</span></li>
					<li class="header-search__results-item">
						<a href="#" title="Chim Ưng và Chiến Binh Mùa Đông (Phần 1) - 2/? Vietsub">
							<div class="header-search__results-box">
								<div class="results-box__image">
									<img
										src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1616231596/phimbox_images/Poster-chim-ung-va-chien-binh-mua-dong-phan-1.jpg"
										alt="Chim Ưng và Chiến Binh Mùa Đông (Phần 1)"
									/>
								</div>
								<div class="results-box__info">
									<span for="" class="results-box__info-name"
										>Chim Ưng và Chiến Binh Mùa Đông (Phần 1)</span
									>
									<span for="" class="results-box__info-engname"
										>The Falcon and the Winter Soldier (Season 1)</span
									>
									<span for="" class="results-box__info-status"><span>2/? - Vietsub</span></span>
								</div>
							</div>
						</a>
					</li>
					<li class="header-search__results-item">
						<a href="#" title="Nhím Sonic - HD Vietsub + Thuyết Minh">
							<div class="header-search__results-box">
								<div class="results-box__image">
									<img
										src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg"
										alt="Nhím Sonic"
									/>
								</div>
								<div class="results-box__info">
									<span for="" class="results-box__info-name">Nhím Sonic</span>
									<span for="" class="results-box__info-engname">Sonic The Hedgehog</span>
									<span for="" class="results-box__info-status"
										><span>HD Vietsub + Thuyết Minh</span></span
									>
								</div>
							</div>
						</a>
					</li>
					<li class="header-search__results-item">
						<a href="#" title="Ráp Phờ Đập Phá - HD Vietsub">
							<div class="header-search__results-box">
								<div class="results-box__image">
									<img
										src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597306188/phimbox_images/Poster-rap-pho-dap-pha.jpg"
										alt="Ráp Phờ Đập Phá"
									/>
								</div>
								<div class="results-box__info">
									<span for="" class="results-box__info-name">Ráp Phờ Đập Phá</span>
									<span for="" class="results-box__info-engname">Wreck It Ralph</span>
									<span for="" class="results-box__info-status"><span>HD - Vietsub</span></span>
								</div>
							</div>
						</a>
					</li>
					<li class="header-search__results-item">
						<a href="#" title="Thánh Phồng Tôm (Phần 1) - Full 12/12 + OVA Vietsub">
							<div class="header-search__results-box">
								<div class="results-box__image">
									<img
										src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597307178/phimbox_images/Poster-thanh-phong-tom-phan-1.jpg"
										alt="Thánh Phồng Tôm (Phần 1)"
									/>
								</div>
								<div class="results-box__info">
									<span for="" class="results-box__info-name">Thánh Phồng Tôm (Phần 1)</span>
									<span for="" class="results-box__info-engname">One Punch Man (Season 1)</span>
									<span for="" class="results-box__info-status"
										><span>Full 12/12 + OVA - Vietsub</span></span
									>
								</div>
							</div>
						</a>
					</li>
					<li class="header-search__results-item">
						<a href="#" title="	Phẩm Chất Quý Cô / Từ Khóa Tình Yêu - 16/16 Thuyết Minh">
							<div class="header-search__results-box">
								<div class="results-box__image">
									<img
										src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1613893161/phimbox_images/Poster-pham-chat-quy-co-tu-khoa-tinh-yeu.jpg"
										alt="	Phẩm Chất Quý Cô / Từ Khóa Tình Yêu"
									/>
								</div>
								<div class="results-box__info">
									<span for="" class="results-box__info-name">
										Phẩm Chất Quý Cô / Từ Khóa Tình Yêu</span
									>
									<span for="" class="results-box__info-engname">Search: WWW</span>
									<span for="" class="results-box__info-status"><span>16/16 Thuyết Minh</span></span>
								</div>
							</div>
						</a>
					</li>
					<li class="header-search__results-item">
						<a href="#" title="Wanda và Vision (Phần 1) - 9/9 Vietsub + Thuyết Minh">
							<div class="header-search__results-box">
								<div class="results-box__image">
									<img
										src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1612932327/phimbox_images/Poster-wanda-va-vision-phan-1.jpg"
										alt="Wanda và Vision (Phần 1)"
									/>
								</div>
								<div class="results-box__info">
									<span for="" class="results-box__info-name">Wanda và Vision (Phần 1)</span>
									<span for="" class="results-box__info-engname">Wanda Vision (Season 1)</span>
									<span for="" class="results-box__info-status"
										><span>9/9 Vietsub + Thuyết Minh</span></span
									>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>

			<div class="wrap-header-action col col-lg-4 col-md-3 col-sm-3">
				<div class="search-mobile md-hidden lg-hidden">
					<i id="navbar-mobile__icon-search" class="iconify search-mobile__icon" data-icon="bx:search"></i>
					<i
						id="navbar-mobile__icon-close-search"
						class="iconify menu-mobile__icon"
						style="display: none"
						data-icon="mdi:close-box-outline"
					></i>
				</div>
				<div class="user-mobile md-hidden lg-hidden">
					<!-- Chua login/register -->
					<i class="iconify user-mobile__icon" data-icon="tabler:login" data-flip="horizontal"></i>
				</div>
				<div class="header-user">
					<div class="header-user__wrap-btns">
						<!-- Chua login/register -->
						<div id="btn-login" class="header-user__btn btn sm-hidden">
							<i class="header-user__icon iconify" data-icon="tabler:login" data-flip="horizontal"></i>
							<span>Đăng Nhập</span>
						</div>
						<div id="btn-register" class="header-user__btn btn sm-hidden">
							<i class="header-user__icon iconify" data-icon="gridicons:multiple-users"></i>
							<span>Đăng Ký</span>
						</div>
						<!-- Da login/register -->
						<!-- <div class="header-user__btn-notify btn">
                  <i class="iconify" data-icon="fontisto:bell-alt"></i>
                  <div class="notify-box">
                      <h3 class="notify-box__title">Thông báo</h3>
                      <ul class="notify-box__list">
                          <li><span>Bạn nhận được 100 XU từ nhiệm vụ đăng nhập điểm danh mỗi ngày</span></li>
                          <li><span>Bạn nhận được 200 XU từ nhiệm vụ cập nhật Avatar</span></li>
                          <li><span>Chào mừng bạn đã đến với BiluTV. Hãy nhớ tên tài khoản và mật khẩu của bạn để khi tên miền webiste bị chặn bạn có thể đăng nhập lại và không bị mất dữ liệu.</span></li>
                          <li><span>Bạn nhận được 100 XU từ nhiệm vụ đăng nhập điểm danh mỗi ngày</span></li>
                          <li><span>Bạn nhận được 200 XU từ nhiệm vụ cập nhật Avatar</span></li>
                          <li><span>Chào mừng bạn đã đến với BiluTV. Hãy nhớ tên tài khoản và mật khẩu của bạn để khi tên miền webiste bị chặn bạn có thể đăng nhập lại và không bị mất dữ liệu.</span></li>
                          <li><span>Bạn nhận được 100 XU từ nhiệm vụ đăng nhập điểm danh mỗi ngày</span></li>
                      </ul>
                  </div>
                  <div class="notify-box-arrow-up"></div>
              </div>
              <div class="header-user__btn-user btn">
                  <img src="./assets/images/User-avatar.png" alt="" class="header-user__btn-user-avatar">
                  <span class="header-user__btn-user-name sm-hidden">ahakun</span>
                  <i class="iconify header-user__btn-user-icon-down sm-hidden" data-icon="akar-icons:chevron-down"></i>
                  <ul class="user-box">
                      <li><a href="#"><i class="iconify user-box__icon" data-icon="carbon:user-filled"></i><span>Thông tin tài khoản</span></a></li>
                      <li><a href="#"><i class="iconify user-box__icon" data-icon="ph:film-script-fill"></i><span>Tủ phim</span></a></li>
                      <li><a href="#"><i class="iconify user-box__icon" data-icon="bx:film"></i><span>Phim đang theo dõi</span></a></li>
                      <li><a href="#"><i class="iconify user-box__icon" data-icon="dashicons:lock"></i><span>Thay đổi thông tin</span></a></li>
                      <li><a href="#"><i class="iconify user-box__icon" data-icon="wpf:shutdown"></i><span>Đăng xuất</span></a></li>
                  </ul>
              </div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-navbar sm-hidden">
		<div class="grid wide">
			<div class="row">
				<nav class="col col-lg-12 col-md-12 col-sm-0 col-sm-12">
					<ul class="header-navbar__home-menu">
						<li class="header-navbar__menu-item">
							<a href="<%=header.baseURL%>" title="Trang Chủ"
								><i class="iconify header-navbar__menu-icon" data-icon="dashicons:admin-home"></i
								><span>Trang Chủ</span></a
							>
						</li>
						<li class="header-navbar__menu-item dropdown">
							<a href="javascript:;" title="Thể Loại"
								><i class="iconify header-navbar__menu-icon" data-icon="dashicons:category"></i
								><span>Thể Loại</span
								><span
									class="iconify header-navbar__menu-icon-down"
									data-icon="bi:caret-down-fill"
								></span
							></a>
							<ul class="dropdown-list sm-hidden">
								<% header.categories.forEach(({ name, href }) => { %>
									<li><a href="<%=href%>" title="<%=name%>"><%=name%></a></li>
								<% }) %>
							</ul>
						</li>
						<li class="header-navbar__menu-item dropdown">
							<a href="javascript:;" title="Quốc Gia"
								><i class="iconify header-navbar__menu-icon" data-icon="ion:earth"></i
								><span>Quốc Gia</span
								><span
									class="iconify header-navbar__menu-icon-down"
									data-icon="bi:caret-down-fill"
								></span
							></a>
							<ul class="dropdown-list sm-hidden">
								<% header.countries.forEach(({ name, href }) => { %>
									<li><a href="<%=href%>" title="<%=name%>"><%=name%></a></li>
								<% }) %>
							</ul>
						</li>
						<li class="header-navbar__menu-item">
							<a href="<%=header.baseURL%>/catalogue" title="Phim lẻ"
								><i class="iconify header-navbar__menu-icon" data-icon="bx:film"></i
								><span>Phim lẻ</span></a
							>
						</li>
						<li class="header-navbar__menu-item">
							<a href="<%=header.baseURL%>/catalogue" title="Phim Bộ"
								><i class="iconify header-navbar__menu-icon" data-icon="mdi:filmstrip-box-multiple"></i
								><span>Phim Bộ</span></a
							>
						</li>
						<li class="header-navbar__menu-item">
							<a href="<%=header.baseURL%>/catalogue" title="Phim Chiếu Rạp"
								><i class="iconify header-navbar__menu-icon" data-icon="iconoir:cinema-old"></i
								><span>Phim Chiếu Rạp</span></a
							>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
