<aside class="sidebar col col-lg-3 col-md-3 col-sm-12">
    <% if(leftSidebar.listFilmTrailer.length > 0) { %>
    <div class="sidebar-widget xpo-violet sm-hidden">
      <div class="sidebar-widget__section-bar section-bar">
        <h2 class="section-bar__title">
          <span><i class="iconify section-bar__icon" data-icon="ri:movie-line"></i> Phim Sắp Chiếu</span>
          <i class="skew-left"></i>
          <i class="skew-left"></i>
        </h2>
      </div>
      <div class="tab-container">
        <div id="xpo-sidebar-trailer" class="owl-carousel owl-theme xpo-box">
          <% for (const film of leftSidebar.listFilmTrailer) { %>
            <div class="item">
              <div class="xpo-item">
                <a class="xpo-thumb" href="/info/<%=film.slug%>" title="<%=film.name%> - <%=film.originalName%> (<%=film.year%>)">
                  <img src="<%=film.poster%>" alt="<%=film.name%> - <%=film.originalName%> (<%=film.year%>)">
                  <span class="xpo-status"><%=film.status%></span>
                  <span class="xpo-year"><%=film.year%></span>
                  <span class="xpo-language"><%=film.language%></span>
                  <div class="xpo-icon-overlay"></div>
                </a>
                <div class="xpo-content">
                  <div class="xpo-content__name">
                    <h3 class="xpo-vn-name">
                      <a href="/info/<%=film.slug%>" title="<%=film.name%> - <%=film.originalName%> (<%=film.year%>)"><%=film.name%> - <%=film.originalName%> (<%=film.year%>)</a>
                    </h3>
                    <p class="xpo-original-name"><%=film.originalName%></p>
                  </div>
                </div>
                <div class="xpo-mini-info__data" style="display:none;" data-name="<%=film.name%> (<%=film.year%>)" data-original-name="<%=film.originalName%>" data-imdb="<%=film.imdb%>" data-duration="<%=film.duration%>" data-year="<%=film.year%>" data-short-description="<%=film.description%>" 
                  data-countries="<%for (const country of film.countriesData) { %><%=country.name%>,<% } %>" 
                  data-categories="<%for (const category of film.categoriesData) { %><%=category.name%>,<% } %>" 
                  data-actors="">
                </div>
              </div>
            </div>
          <% } %>
        </div>
        <div class="xpo-mini-info__data" style="display:none;" data-name="Câu Chuyện Đồ Chơi 2" data-original-name="Toy Story 2" data-imdb="6.7" data-duration="103 phút" data-year="1999" data-short-description="Câu Chuyện Đồ Chơi 2 ở phần này phim hoạt hình câu chuyện đồ chơi tiếp tục giới thiệu với khán giả cuộc phiêu lưu của Woody và Buzz khi chủ nhân Andy của chúng vắng nhà. Lần này cả hai biết được nguồn gốc và giá trị thật của mình. Nhưng khi biết được già trị của mình thì Woody đã bị một trong những kẻ sưu tầm đồ chơi nắm giữ. Woody là một món đồ chơi rất có giá trị cho những người kẻ biết nhìn đồ chơi , và những kẻ tham lam xấu xa, liệu Woody có thoát khỏi tay bọn người sưu tầm đồ chơi đó không? Hãy đón xem phim hoạt hình Câu Chuyện Đồ Chơi 2." data-countries="Mỹ," data-categories="Phiêu Lưu, Hài Hước, Hoạt Hình," data-actors="Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer,"></div>
      </div>
    </div>
    <% } %>
    <div class="sidebar-widget xpo-blue">
      <div class="sidebar-widget__section-bar section-bar">
        <h2 class="section-bar__title">
          <span><i class="iconify section-bar__icon" data-icon="bx:film"></i> Phim Xem Nhiều</span>
          <i class="skew-left"></i>
          <i class="skew-left"></i>
        </h2>
      </div>
      <section class="tab-container">
        <div class="popular-posts">
          <ul class="tab-header">
            <li id="tab-label-1" class="active">Phim Lẻ</li>
            <li id="tab-label-2">Phim Bộ</li>
            <li id="tab-label-3">Hoạt Hình</li>
          </ul>
          <div class="tab-contents">
            <div id="tab-content-1" class="tab-content">
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
            </div>
            <div id="tab-content-2" class="tab-content hidden">
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1613042380/phimbox_images/Poster-ga-he.jpg" alt="Gã Hề">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Gã Hề">
                    <h3>Gã Hề</h3>
                  </a>
                  <p class="tab-content__original-name">Joker</p>
                  <p><span class="tab-content__status">HD Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">8.6</span></span>
                    <span class="tab-content__year">2019</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
            </div>
            <div id="tab-content-3" class="tab-content hidden">
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_100,h_143/v1597306188/phimbox_images/Poster-rap-pho-dap-pha.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
              <div class="tab-content__item">
                <a href="./info.html" class="tab-content__img" title="Nhím Sonic">
                  <img src="https://res.cloudinary.com/quocthinh-phim/image/upload/w_200,h_285/v1597641287/phimbox_images/Poster-nhim-sonic.jpg" alt="Nhím Sonic">
                </a>
                <div class="tab-content__info">
                  <a href="./info.html" class="tab-content__vn-name" title="Nhím Sonic">
                    <h3>Nhím Sonic</h3>
                  </a>
                  <p class="tab-content__original-name">Sonic The Hedgehog</p>
                  <p><span class="tab-content__status">HD Vietsub + Thuyết Minh</span></p>
                  <p>
                    <span class="tab-content__imdb"><i class="tab-content__imdb-icon"></i><span class="tab-content__imdb-point">6.7</span></span>
                    <span class="tab-content__year">2020</span>
                  </p>
                </div>

              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
    <div class="sidebar-widget xpo-green">
      <div class="sidebar-widget__section-bar section-bar">
        <h2 class="section-bar__title">
          <span><i class="iconify section-bar__icon" data-icon="el:tags"></i> Tag Cloud</span>
          <i class="skew-left"></i>
          <i class="skew-left"></i>
        </h2>

      </div>
      <section class="tab-container">
        <div class="tabcloud-list">
            <% for (const tag of leftSidebar.webTags) { %>
                <a href="/tag/<%=tag.toLowerCase().replace(' ', '-')%>" title="Phim <%=tag%>" class="tabcloud-item"><%=tag%></a>
            <% } %>
        </div>
      </section>
    </div>
  </aside>