<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= SEO.title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Charis+SIL&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/star-rating-svg@3.5.0/src/css/star-rating-svg.css">
  <link rel="stylesheet" href="/assets/css/grid.css">
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.custom.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
</head>

<body>
  <div class="app">
    <!-- Heading -->
    <%- include('./partials/header') %>
    <!--  Container -->
    <div class="container grid wide">
      <div class="row sm-gutter">
        <!-- Breadcurmb -->
        <div class="breadcrumb-wrap col col-lg-12 col-md-12 col-sm-12">
          <ul class="breadcrumb">
            <li><a href="#"><i class="iconify" data-icon="dashicons:admin-home"></i>Trang Chủ</a></li>
            <%- catalogue.breadcrumb %>
          </ul>
        </div>
        <!-- Filter Films -->
        <div class="list-films-filter htmlwrap">
          <form id="form-filter" class="sm-hidden" action="/catalogue/filter" method="get">
            <div class="list-films-filter__item">
              <label for="filter-category"><i class="iconify" data-icon="dashicons:category"></i> Thể loại</label>
              <select name="categoryId" id="filter-category">
                <option value="">Tất cả</option>
                <% for (const category of catalogue.listCategory) { %>
                  <option value="<%=category._id%>"><%=category.name%></option>
                <% } %>
              </select>
            </div>
            <div class="list-films-filter__item">
              <label for="filter-country"><i class="iconify" data-icon="ion:earth"></i> Quốc gia</label>
              <select name="countryId" id="filter-country">
                <option value="">Tất cả</option>
                <% for (const country of catalogue.listCountry) { %>
                  <option value="<%=country._id%>"><%=country.name%></option>
                <% } %>
              </select>
            </div>
            <div class="list-films-filter__item">
              <label for="filter-year"><i class="iconify" data-icon="uil:calender"></i> Năm phát hành</label>
              <select name="year" id="filter-year">
                <option value="">Tất cả</option>
                <% 
                  const currentYear = new Date().getFullYear()
                  for (let index = currentYear; index > currentYear - 12; index--) { 
                %>
                  <option value="<%=index%>"><%=index%></option>
                <% } %>
              </select>
            </div>
            <div class="list-films-filter__item">
              <label for="filter-type"><i class="iconify" data-icon="fluent:apps-24-regular"></i> Loại phim</label>
              <select name="type" id="filter-type">
                <option value="">Tất cả</option>
                <option value="le">Phim lẻ</option>
                <option value="bo">Phim bộ</option>
                <option value="rap">Phim rạp</option>
              </select>
            </div>
            <div class="list-films-filter__item">
              <label for="filter-sort"><i class="iconify" data-icon="jam:settings-alt"></i> Sắp xếp</label>
              <select name="sort" id="filter-sort">
                <option value="">Tất cả</option>
                <option value="new">Mới đăng</option>
                <option value="view">Lượt xem</option>
                <option value="year">Năm phát hành</option>
                <option value="name">Tên phim</option>
              </select>
            </div>
            <button class="btn btn-filter" type="submit">Lọc Phim</button>
          </form>
          <p class="md-hidden lg-hidden btn btn-toggle-filter" data-show="false">Chức năng lọc phim &#10606;</p>
        </div>
        <main class="main-content col col-lg-9 col-md-9 col-sm-12">
          <section class="xpo-cat xpo-blue htmlwrap">
            <div class="section-bar">
              <h2 class="section-bar__title">
                <%- catalogue.sectionBarTitle %>
              </h2>
            </div>
            <div class="xpo-box row md-gutter">
              <% for (const film of catalogue.films) { %>
                <div class="item col col-lg-3 col-md-4 col-sm-6">
                  <div class="item">
                    <div class="xpo-item">
                      <a class="xpo-thumb" href="<%=film.href%>" title="<%=film.name%> - <%=film.originalName%> (<%=film.year%>)">
                        <img src="<%=film.poster%>" alt="<%=film.name%> - <%=film.originalName%> (<%=film.year%>)">
                        <span class="xpo-status"><%=film.status%></span>
                        <span class="xpo-year"><%=film.year%></span>
                        <span class="xpo-language"><%=film.language%></span>
                        <div class="xpo-icon-overlay"></div>
                      </a>
                      <div class="xpo-content">
                        <div class="xpo-content__name">
                          <h3 class="xpo-vn-name">
                            <a href="<%=film.href%>" title="<%=film.name%> - <%=film.originalName%> (<%=film.year%>)"><%=film.name%> - <%=film.originalName%> (<%=film.year%>)</a>
                          </h3>
                          <p class="xpo-original-name"><%=film.originalName%></p>
                        </div>
                      </div>
                      <div class="xpo-mini-info__data" style="display:none;" data-name="<%=film.name%> (<%=film.year%>)" data-original-name="<%=film.originalName%>" data-imdb="<%=film.imdb%>" data-duration="<%=film.duration%>" data-year="<%=film.year%>" data-short-description="<%=film.description%>" 
                          data-countries="<%for (const country of film.countriesData) { %><%=country.name%>,<% } %>" 
                          data-categories="<%for (const category of film.categoriesData) { %><%=category.name%>,<% } %>" 
                          data-actors="">
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
            <!-- Pagination Films -->
            <nav class="pagination">
              <button class="btn"><a href="<%= catalogue.pagination.first %>">&#171;</a></button>
              <button class="btn"><a href="<%= catalogue.pagination.prev %>">&#8249;</a></button>
              <% for (const page of catalogue.pagination.list) { %>
                <button class="btn<%= page.isCurrentPage ? ' active' : '' %>">
                  <% if (page.isCurrentPage) { %>
                    <span><%= page.name %></span> 
                  <% } else { %>
                    <a href="<%= page.href %>"><%= page.name %></a>
                  <% } %>
                </button>
              <% } %>
              <button class="btn"><a href="<%= catalogue.pagination.next %>">&#8250;</a></button>
              <button class="btn"><a href="<%= catalogue.pagination.last %>">&#187;</a></button>
            </nav>
          </section>
        </main>
        <%- include('./partials/rightSidebar') %>
      </div>
    </div>
    <!-- Footer -->
    <%- include('./partials/footer') %>
    <!-- Auth Modal -->
    <%- include('./partials/authModal') %>
    <!-- Mini Info Films -->
    <%- include('./partials/miniFilmInfo') %>
    <!-- Scroll Top -->
    <div id="scroll-top">
      <i class="iconify scroll-top__icon" data-icon="bi:arrow-up-short"></i>
    </div>
  </div>


  <!-- Javascripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.2.1/iconify.min.js" integrity="sha512-sU5Gzc108d8ERAXEUoNh3DZQ3GZCQyygVkeuhIxFR+D9Go8kLw3Ce3HVD/AI5cnhGzW7Km9V4oOOiepKcD0vlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/star-rating-svg@3.5.0/src/jquery.star-rating-svg.js"></script>
  <script src="/assets/js/main.js"></script>
  <script>
    // const formFilter = document.getElementById('form-filter');
    const categoryFilterSelect = document.getElementById('filter-category');
    const countryFilterSelect = document.getElementById('filter-country');
    const yearFilterSelect = document.getElementById('filter-year');
    const typeFilterSelect = document.getElementById('filter-type');
    const sortFilterSelect = document.getElementById('filter-sort');

    const urlParams = new URLSearchParams(window.location.search);

    if(categoryFilterSelect) categoryFilterSelect.value = urlParams.get('categoryId') || '';
    if(countryFilterSelect) countryFilterSelect.value = urlParams.get('countryId') || '';
    if(yearFilterSelect) yearFilterSelect.value = urlParams.get('year') || '';
    if(typeFilterSelect) typeFilterSelect.value = urlParams.get('type') || '';
    if(sortFilterSelect) sortFilterSelect.value = urlParams.get('sort') || '';

  </script>
</body>

</html>