<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thông tin</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Charis+SIL&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/star-rating-svg@3.5.0/src/css/star-rating-svg.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
  <link rel="stylesheet" href="/assets/css/grid.css">
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.custom.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
</head>

<body>
  <div class="app">
    <!-- Heading -->
	  <%- include('./partials/header') %>
    <!--  Container -->
    <div class="container grid wide">
      <div class="row sm-gutter">
        <!-- Breadcurmb -->
        <div class="breadcrumb-wrap col col-lg-12 col-md-12 col-sm-12">
          <ul class="breadcrumb">
            <li><a href="<%=header.baseURL%>"><i class="iconify" data-icon="dashicons:admin-home"></i>Trang Chủ</a></li>
            <li><a href="#"><%=info.film.type%></a></li>
            <li class="active"><a href="/info/<%=info.film.slug%>"><%=info.film.name%></a></li>
          </ul>
        </div>
        <main class="main-content col col-lg-9 col-md-9 col-sm-12">
          <section class="xpo-film-info row lg-gutter">
            <div class="xpo-film-info__poster col col-lg-4 col-md-4 col-sm-12">
              <div class="poster__thumb">
                <img src="<%=info.film.poster%>" alt="<%=info.film.name%> (<%=info.film.year%>)">
                <button title="Theo dõi phim" class="poster__follow">
                  <i class="iconify" data-icon="mdi:movie-open-plus" data-icon-add="mdi:movie-open-plus" data-icon-remove="mdi:movie-open-remove"></i></i>
                  <span class="poster__follow-label" data-msg-add="Theo dõi phim" data-msg-remove="Bỏ theo dõi phim">Theo dõi phim</span>
                </button>
                <button title="Thêm vào tủ phim" class="poster__bookmark">
                  <i class="iconify" data-icon="<%=info.isInCollection ? 'fe:trash' : 'ic:baseline-bookmark-add'%>" data-icon-add="ic:baseline-bookmark-add" data-icon-remove="fe:trash"></i>
                  <span class="poster__bookmark-label" data-msg-add="Thêm vào tủ phim" data-msg-remove="Xóa khỏi tủ phim"><%=info.isInCollection ? 'Xóa khỏi tủ phim' : 'Thêm vào tủ phim'%></span>
                </button>
              </div>
              <div class="btn-wrap">
                <a class="btn" onclick="showTrailer();"><i class="iconify" data-icon="bi:camera-reels-fill"></i>Trailer</a>
                <a class="btn" href="<%= info.film.isHasEpisode ? '/watch/' + info.film.slug : '#'%>" onclick="<%= info.film.isHasEpisode ? '' : `alert('Film has not episode')` %>">
                  <i class="iconify" data-icon="fa6-solid:play"></i>Watch
                </a>
              </div>
              <!-- Trailer Modal Popup -->
              <div id="trailer-popup" class="modal modal-lg hidden">
                <div class="modal-overlay"></div>
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Trailer "<%=info.film.name%>"</h5>
                      <button class="modal-close-btn">
                        <span>&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="embed-container">
                        <iframe class="embed-item" src="<%=info.film.trailer%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="xpo-film-info__info col col-lg-8 col-md-8 col-sm-12">
              <div class="info__film-title">
                <span class="info__film-title__name"><%=info.film.name%></span>
                <span class="info__film-title__original-name"><%=info.film.originalName%></span>
                <span class="info__film-title__year"> (<%=info.film.year%>) </span>
              </div>
              <ul class="info__list-info-group">
                <li class="info__list-info-group__item">
                  <span class="item-title"><i class="iconify" data-icon="fluent:status-24-filled"></i>Trạng thái</span> : <span class="label label-danger"><%=info.film.status%></span>
                </li>
                <!-- <li class="info__list-info-group__item">
                  <span class="item-title"><i class="iconify" data-icon="bxs:user"></i>Đạo diễn</span> : <a href="#" title="Brad Ableson">Brad Ableson</a>, <a href="#" title="Jonathan del Val">Jonathan del Val</a>, <a href="#" title="Kyle Balda">Kyle Balda</a>,
                </li> -->
                <li class="info__list-info-group__item">
                  <span class="item-title"><i class="iconify" data-icon="ri:global-line"></i>Quốc gia</span> : 
                  <% for (const country of info.film.countriesData) { %>
                    <a href="/country/<%=country.slug%>" title="<%=country.name%>"><%=country.name%></a>,
                  <% } %>
                </li>
                <li class="info__list-info-group__item">
                  <span class="item-title"><i class="iconify" data-icon="fluent:archive-24-filled"></i>Thể loại</span> : 
                  <% for (const category of info.film.categoriesData) { %>
                    <a href="/category/<%=category.slug%>" title="<%=category.name%>"><%=category.name%></a>,
                  <% } %>
                </li>
                <li class="info__list-info-group__item">
                  <span class="item-title"><i class="iconify" data-icon="bxl:imdb"></i>IMDb</span> : <span class="label label-gradient-warning"><%=info.film.imdb%></span>
                </li>
                <li class="info__list-info-group__item">
                  <span class="item-title"><i class="iconify" data-icon="bi:translate"></i>Ngôn ngữ</span> : <span class="label label-info"><%=info.film.language%></span>
                </li>
                <li class="info__list-info-group__item">
                  <span class="item-title"><i class="iconify" data-icon="fluent:clock-12-regular"></i>Thời lượng</span> : <%=info.film.duration%>
                </li>
                <li class="info__list-info-group__item">
                  <span class="item-title"><i class="iconify" data-icon="uil:calender"></i>Năm phát hành</span> : <span class="label label-gradient-primary"><%=info.film.year%></span>
                </li>
                <li class="info__list-info-group__item">
                  <span class="item-title"><i class="iconify" data-icon="fa-solid:eye"></i>Lượt xem</span> : <%=info.film.viewed%>
                </li>
                <li class="info__list-info-group__item">
                  <span class="item-title"><i class="iconify" data-icon="fluent:vote-24-filled"></i>Đánh giá</span> : <span class="label label-gradient-warning">9</span> (1 lượt)
                  <span class="rating">
                    <span id="film-rating"></span><span class="label label-info rating-label"></span>
                  </span>
                </li>
              </ul>
            </div>
          </section>
          <!-- <section class="xpo-film-cast xpo-yellow">
            <div class="section-bar">
              <h2 class="section-bar__title"><span>
                  <i class="iconify section-bar__icon" data-icon="fa-solid:user-friends"></i></i> Diễn viên</span><i class="skew-left"></i>
              </h2>
            </div>
            <ul class="xpo-list-cast htmlwrap owl-carousel owl-theme">
              <li class="xpo-list-cast__item">
                <a href="#" title="Name Actor" class="actor-profile">
                  <div class="actor-avatar">
                    <img src="https://i.imgur.com/7uQkORu.png" alt="Name Actor">
                  </div>
                  <div class="actor-name">
                    <span>Name Actor</span>
                  </div>
                </a>
              </li>
              <li class="xpo-list-cast__item">
                <a href="#" title="Name Actor" class="actor-profile">
                  <div class="actor-avatar">
                    <img src="https://i.imgur.com/7uQkORu.png" alt="Name Actor">
                  </div>
                  <div class="actor-name">
                    <span>Name Actor</span>
                  </div>
                </a>
              </li>
              <li class="xpo-list-cast__item">
                <a href="#" title="Name Actor" class="actor-profile">
                  <div class="actor-avatar">
                    <img src="https://i.imgur.com/7uQkORu.png" alt="Name Actor">
                  </div>
                  <div class="actor-name">
                    <span>Name Actor</span>
                  </div>
                </a>
              </li>
              <li class="xpo-list-cast__item">
                <a href="#" title="Name Actor" class="actor-profile">
                  <div class="actor-avatar">
                    <img src="https://i.imgur.com/7uQkORu.png" alt="Name Actor">
                  </div>
                  <div class="actor-name">
                    <span>Name Actor</span>
                  </div>
                </a>
              </li>
              <li class="xpo-list-cast__item">
                <a href="#" title="Name Actor" class="actor-profile">
                  <div class="actor-avatar">
                    <img src="https://i.imgur.com/7uQkORu.png" alt="Name Actor">
                  </div>
                  <div class="actor-name">
                    <span>Name Actor</span>
                  </div>
                </a>
              </li>
              <li class="xpo-list-cast__item">
                <a href="#" title="Name Actor" class="actor-profile">
                  <div class="actor-avatar">
                    <img src="https://i.imgur.com/7uQkORu.png" alt="Name Actor">
                  </div>
                  <div class="actor-name">
                    <span>Name Actor</span>
                  </div>
                </a>
              </li>
              <li class="xpo-list-cast__item">
                <a href="#" title="Name Actor" class="actor-profile">
                  <div class="actor-avatar">
                    <img src="https://i.imgur.com/7uQkORu.png" alt="Name Actor">
                  </div>
                  <div class="actor-name">
                    <span>Name Actor</span>
                  </div>
                </a>
              </li>
              <li class="xpo-list-cast__item">
                <a href="#" title="Name Actor" class="actor-profile">
                  <div class="actor-avatar">
                    <img src="https://i.imgur.com/7uQkORu.png" alt="Name Actor">
                  </div>
                  <div class="actor-name">
                    <span>Name Actor</span>
                  </div>
                </a>
              </li>
              <li class="xpo-list-cast__item">
                <a href="#" title="Name Actor" class="actor-profile">
                  <div class="actor-avatar">
                    <img src="https://i.imgur.com/7uQkORu.png" alt="Name Actor">
                  </div>
                  <div class="actor-name">
                    <span>Name Actor</span>
                  </div>
                </a>
              </li>
            </ul>
          </section> -->
          <section class="xpo-film-content xpo-green">
            <div class="section-bar">
              <h2 class="section-bar__title"><span>
                  <i class="iconify section-bar__icon" data-icon="eos-icons:content-modified"></i></i> Nội Dung Phim</span><i class="skew-left"></i>
              </h2>
            </div>
            <div class="htmlwrap">
              <div class="xpo-film-content__box collapse">
                <div class="xpo-film-content__text">
                  <%-info.film.info%>
                </div>
                <!-- <div class="xpo-film-content__images owl-carousel owl-theme">
                  <img src="https://www.themoviedb.org/t/p/original/qTkJ6kbTeSjqfHCFCmWnfWZJOtm.jpg" alt="">
                  <img src="https://www.themoviedb.org/t/p/original/xTlS9bIu8ER5QlW1d1ytiwA8TWF.jpg" alt="">
                  <img src="https://www.themoviedb.org/t/p/original/2gGVdr0BcKzma68SW2jpZfJtOlB.jpg" alt="">
                </div> -->
              </div>
              <div class="xpo-film-content__btn-toggle">
                <button class="show-more" data-showmore="Mở rộng..." data-showless="Thu gọn...">Mở rộng...</button>
              </div>
            </div>

          </section>
          <section class="xpo-film-tags xpo-violet">
            <div class="section-bar">
              <h2 class="section-bar__title"><span>
                  <i class="iconify section-bar__icon" data-icon="fa-solid:hashtag"></i></i> Từ khóa</span><i class="skew-left"></i>
              </h2>
            </div>
            <div class="htmlwrap">
              <ul class="film-tags-list">
                <% for (let index = 0; index < info.film.tag.length; index++) {
                    const tag = info.film.tag[index];
                    const tagAscii = info.film.tagAscii[index];
                 %>
                  <a href="/tag/<%=tagAscii%>">
                    <li class="film-tags-item"><%=tag%></li>
                  </a>
                <% } %>
              </ul>
            </div>
          </section>
          <section class="xpo-film-comment xpo-yellow">
            <div class="section-bar">
              <h2 class="section-bar__title"><span>
                  <i class="iconify section-bar__icon" data-icon="fluent:comment-edit-20-filled"></i></i> Bình luận</span><i class="skew-left"></i>
              </h2>
            </div>
            <div class="xpo-film-comment__iframe htmlwrap">
              <iframe src="https://www.powr.io/comments/u/6be94545_1659623763#platform=iframe" style="width:100%;" height="270px" frameborder="0"></iframe>
            </div>
          </section>
          <section class="xpo-film-related xpo-orange">
            <div class="section-bar">
              <h2 class="section-bar__title"><span>
                  <i class="iconify section-bar__icon" data-icon="ri:movie-2-fill"></i></i> Phim Liên Quan</span><i class="skew-left"></i>
              </h2>
            </div>
            <div id="xpo-film-related__list" class="htmlwrap owl-carousel owl-theme xpo-box">
              <% for (const film of relatedFilms) { %>
                <div class="item">
                  <div class="xpo-item">
                    <a class="xpo-thumb" href="/info/<%=film.slug%>" title="<%=film.name%> - <%=film.originalName%> (<%=film.year%>)">
                      <img src="<%=film.poster%>" alt="<%=film.name%> - <%=film.originalName%> (<%=film.year%>)">
                      <span class="xpo-status"><%=film.status%></span>
                      <span class="xpo-year"><%=film.year%></span>
                      <span class="xpo-language"><%=film.language%></span>
                      <div class="xpo-icon-overlay"></div>
                    </a>
                    <div class="xpo-content">
                      <div class="xpo-content__name">
                        <h3 class="xpo-vn-name">
                          <a href="/info/<%=film.slug%>" title="<%=film.name%> - <%=film.originalName%> (<%=film.year%>)"><%=film.name%> - <%=film.originalName%> (<%=film.year%>)</a>
                        </h3>
                        <p class="xpo-original-name"><%=film.originalName%></p>
                      </div>
                    </div>
                    <div class="xpo-mini-info__data" style="display:none;" data-name="<%=film.name%> (<%=film.year%>)" data-original-name="<%=film.originalName%>" data-imdb="<%=film.imdb%>" data-duration="<%=film.duration%>" data-year="<%=film.year%>" data-short-description="<%=film.description%>" 
                        data-countries="<%for (const country of film.countriesData) { %><%=country.name%>,<% } %>" 
                        data-categories="<%for (const category of film.categoriesData) { %><%=category.name%>,<% } %>" 
                        data-actors="">
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </section>
        </main>
        <%- include('./partials/rightSidebar') %>
      </div>
    </div>
    <!-- Footer -->
    <%- include('./partials/footer') %>
    <!-- Auth Modal -->
    <%- include('./partials/authModal') %>
    <!-- Mini Info Films -->
    <%- include('./partials/miniFilmInfo') %>
    <!-- Scroll Top -->
    <div id="scroll-top">
      <i class="iconify scroll-top__icon" data-icon="bi:arrow-up-short"></i>
    </div>
  </div>


  <!-- Javascripts -->
  <script>window.app = {filmId: '<%=info.film._id%>'}</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.2.1/iconify.min.js" integrity="sha512-sU5Gzc108d8ERAXEUoNh3DZQ3GZCQyygVkeuhIxFR+D9Go8kLw3Ce3HVD/AI5cnhGzW7Km9V4oOOiepKcD0vlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/star-rating-svg@3.5.0/src/jquery.star-rating-svg.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>