<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
		<style>
			tbody tr td {
				text-align: center;
				vertical-align: middle;
			}

			.modal-content {
				background-image: radial-gradient(
						circle at 17% 1%,
						rgba(198, 198, 198, 0.03) 0,
						rgba(198, 198, 198, 0.03) 50%,
						rgba(42, 42, 42, 0.03) 50%,
						rgba(42, 42, 42, 0.03) 100%
					),
					radial-gradient(
						circle at 8% 81%,
						rgba(253, 253, 253, 0.03) 0,
						rgba(253, 253, 253, 0.03) 50%,
						rgba(36, 36, 36, 0.03) 50%,
						rgba(36, 36, 36, 0.03) 100%
					),
					radial-gradient(
						circle at 83% 29%,
						rgba(164, 164, 164, 0.03) 0,
						rgba(164, 164, 164, 0.03) 50%,
						rgba(60, 60, 60, 0.03) 50%,
						rgba(60, 60, 60, 0.03) 100%
					),
					radial-gradient(
						circle at 96% 62%,
						rgba(170, 170, 170, 0.03) 0,
						rgba(170, 170, 170, 0.03) 50%,
						rgba(169, 169, 169, 0.03) 50%,
						rgba(169, 169, 169, 0.03) 100%
					),
					linear-gradient(338deg, #028dd5, #05ac51);
			}
		</style>
	</head>

	<body class="bg-theme bg-theme13">
		<!--wrapper-->
		<div class="wrapper">
			<!--sidebar wrapper -->
			<%- include('./partials/sidebar') %>
			<!--end sidebar wrapper -->
			<!--start header -->
			<%- include('./partials/header') %>
			<!--end header -->
			<!--start page wrapper -->
			<div class="page-wrapper">
				<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
						<div class="breadcrumb-title pe-3">Categories</div>
						<div class="ps-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item">
										<a href="javascript:;"><i class="bx bx-home-alt"></i></a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">Categories</li>
								</ol>
							</nav>
						</div>
					</div>
					<!--end breadcrumb-->
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-end mb-3">
								<button
									type="button"
									class="btn btn-outline-light px-2 me-1"
									data-bs-toggle="modal"
									data-bs-target="#addModal"
								>
									<i class="bx bx-plus-circle me-1"></i>Category
								</button>
								<button type="button" id="btn-trash" class="btn btn-outline-light px-2">
									<i class="bx bx-trash me-1"></i> <span>Trash</span>
								</button>
							</div>
							<div class="table-responsive">
								<table
									id="tableCategory"
									class="table table-striped table-bordered"
									style="width: 100%"
								>
									<thead>
										<tr>
											<th>ID</th>
											<th>Category</th>
											<th>Slug</th>
											<th>Created</th>
											<th>Updated</th>
											<th>Action</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>ID</th>
											<th>Category</th>
											<th>Slug</th>
											<th>Created</th>
											<th>Updated</th>
											<th>Action</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- Modals -->
				<!-- Delete Modals -->
				<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteModalLabel">Delete Category</h5>
								<button
									type="button"
									class="btn-close"
									data-bs-dismiss="modal"
									aria-label="Close"
								></button>
							</div>
							<div class="modal-body">
								Are you sure want delete category "<span
									id="category-name-text"
									style="font-weight: 500; color: #fff"
								></span
								>"<span id="permanently-text" class="d-none text-capitalize"> permanently</span>?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary text-white bg-gradient-burning btn-delete">
									Delete
								</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Edit Modals -->
				<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Category</h5>
								<button
									type="button"
									class="btn-close"
									data-bs-dismiss="modal"
									aria-label="Close"
								></button>
							</div>
							<div class="modal-body">
								<div class="card">
									<div class="card-body">
										<form class="row g-3">
											<div class="col-md-6 mb-3">
												<label class="form-label">Category's Name:</label>
												<input
													type="text"
													class="form-control"
													name="category_name"
													placeholder="Category's Name"
												/>
											</div>
											<div class="col-md-6 mb-3">
												<label class="form-label">Slug:</label>
												<input class="form-control" name="slug" placeholder="Slug" value="" />
											</div>
											<input name="category_id" style="display: none" />
										</form>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button
									type="button"
									class="btn btn-primary text-white bg-gradient-blues btn-save"
									style="border-color: #fff"
								>
									Save changes
								</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Add Modals -->
				<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Category</h5>
								<button
									type="button"
									class="btn-close"
									data-bs-dismiss="modal"
									aria-label="Close"
								></button>
							</div>
							<div class="modal-body">
								<div class="card">
									<div class="card-body">
										<form class="row g-3">
											<div class="col-md-6 mb-3">
												<label class="form-label">Category's Name:</label>
												<input
													type="text"
													class="form-control"
													name="category_name"
													placeholder="Category's Name"
												/>
											</div>
											<div class="col-md-6 mb-3">
												<label class="form-label">Slug:</label>
												<input
													class="form-control"
													name="slug"
													placeholder="Slug (Auto Generate)"
													value=""
												/>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button
									type="button"
									class="btn btn-primary text-white bg-gradient-blues btn-create"
									style="border-color: #fff"
								>
									Create
								</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page wrapper -->
			<!--start overlay-->
			<div class="overlay toggle-icon"></div>
			<!--end overlay-->
			<!--Start Back To Top Button-->
			<a href="javaScript:;" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
			<!--End Back To Top Button-->
			<%- include('./partials/footer') %>
		</div>
		<!--end wrapper-->
		<!-- Start Javascript Import -->
		<%- include('./partials/javascript-import') %>
		<script>
			const dataTable = $('#tableCategory').DataTable({
				scrollX: true,
				processing: true,
				serverSide: true,
				ajax: {
					url: '/admin/categories/datatables_ajax',
					type: 'POST',
				},
				columns: [
					{ name: 'id' },
					{ name: 'name' },
					{ name: 'slug' },
					{ name: 'createdAt' },
					{ name: 'updatedAt' },
					{ name: null },
				],
				columnDefs: [
					{
						orderable: false,
						targets: [5],
					},
				],
			});
			$('#tableCategory_filter input').unbind();
			$('#tableCategory_filter input').bind('keyup', function (e) {
				if (e.keyCode == 13) {
					dataTable.search(this.value).draw();
				}
			});

			// Handle create new Category
			document.querySelector('#addModal .modal-footer .btn-create').onclick = function () {
				const categoryName = document.querySelector('#addModal form input[name="category_name"]').value;
				const categorySlug = document.querySelector('#addModal form input[name="slug"]').value;
				$.ajax({
					type: 'POST',
					url: '/admin/categories/create',
					data: {
						name: categoryName,
						slug: categorySlug,
					},
				})
					.done((res) => {
						// clear input of addModal
						document.querySelector('#addModal form input[name="category_name"]').value = '';
						document.querySelector('#addModal form input[name="slug"]').value = '';
						$('#addModal').modal('hide');
						dataTable.ajax.reload(null, false);
						notyf.success(res.message);
					})
					.fail((res) => {
						// clear input of addModal
						document.querySelector('#addModal form input[name="category_name"]').value = '';
						document.querySelector('#addModal form input[name="slug"]').value = '';
						$('#addModal').modal('hide');
						notyf.error(res.message);
					});
			};

			// Fill name, id of category to delete form
			function fillDataToDeleteForm(name, id) {
				document.querySelector('#permanently-text').classList.add('d-none');
				document.querySelector('#category-name-text').textContent = name;
				document.querySelector('#deleteModal .modal-footer .btn-delete').onclick = function () {
					$.ajax({
						type: 'DELETE',
						url: '/admin/categories/delete/' + id,
					})
						.done((res) => {
							$('#deleteModal').modal('hide');
							dataTable.ajax.reload(null, false);
							notyf.success(res.message);
						})
						.fail((res) => {
							$('#deleteModal').modal('hide');
							notyf.error(res.message);
						});
				};
			}

			// Fill data of category to edit form
			async function fillDataToEditForm(id) {
				const dataCategory = await $.ajax({
					url: '/admin/categories/read/' + id,
					type: 'GET',
				});
				const formEdit = document.querySelector('#editModal form');
				formEdit.querySelector('input[name="category_name"]').value = dataCategory.name;
				formEdit.querySelector('input[name="slug"]').value = dataCategory.slug;
				formEdit.querySelector('input[name="category_id"]').value = dataCategory._id;
			}

			// Handle submit update
			const btnSaveCategory = document.querySelector('#editModal .modal-footer .btn-save');
			if (btnSaveCategory)
				btnSaveCategory.onclick = function () {
					const categoryId = document.querySelector('#editModal form input[name="category_id"]').value;
					const categoryName = document.querySelector('#editModal form input[name="category_name"]').value;
					const categorySlug = document.querySelector('#editModal form input[name="slug"]').value;
					$.ajax({
						type: 'PUT',
						url: '/admin/categories/update/' + categoryId,
						data: {
							name: categoryName,
							slug: categorySlug,
						},
					})
						.done((res) => {
							$('#editModal').modal('hide');
							dataTable.ajax.reload(null, false);
							notyf.success(res.message);
						})
						.fail((res) => {
							$('#editModal').modal('hide');
							notyf.error(res.message);
						});
				};

			// Fill name, id of film to modal delete
			function fillDataToDeletePermanentlyForm(name, id) {
				document.querySelector('#permanently-text').classList.remove('d-none');
				document.querySelector('#category-name-text').textContent = name;
				document.querySelector('#deleteModal .modal-footer .btn-delete').onclick = function () {
					$.ajax({
						type: 'DELETE',
						url: '/admin/categories/destroy/' + id,
					})
						.done((res) => {
							$('#deleteModal').modal('hide');
							dataTable.ajax.reload(null, false);
							notyf.success(res.message);
						})
						.fail((res) => {
							$('#deleteModal').modal('hide');
							notyf.error(res.message);
						});
				};
			}

			// Handle restore category
			function restoreCategory(id) {
				$.ajax({
					type: 'PATCH',
					url: '/admin/categories/restore/' + id,
				})
					.done((res) => {
						dataTable.ajax.reload(null, false);
						notyf.success(res.message);
					})
					.fail((res) => {
						notyf.error(res.message);
					});
			}

			// Handle btn trash onclick
			const btnTrash = document.getElementById('btn-trash');
			if (btnTrash)
				btnTrash.onclick = function () {
					const btnTrashText = btnTrash.querySelector('span');
					const deleted = btnTrashText.innerText === 'Trash';
					btnTrashText.innerText = deleted ? 'All List' : 'Trash';
					deleted
						? dataTable.ajax.url('/admin/categories/datatables_ajax/?deleted=true').load()
						: dataTable.ajax.url('/admin/categories/datatables_ajax/').load();
				};
		</script>
		<!-- End Javascript Import -->
	</body>
</html>
