<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <style>
    .modal-content {
      background-image: radial-gradient(circle at 17% 1%, rgba(198, 198, 198, .03) 0, rgba(198, 198, 198, .03) 50%, rgba(42, 42, 42, .03) 50%, rgba(42, 42, 42, .03) 100%), radial-gradient(circle at 8% 81%, rgba(253, 253, 253, .03) 0, rgba(253, 253, 253, .03) 50%, rgba(36, 36, 36, .03) 50%, rgba(36, 36, 36, .03) 100%), radial-gradient(circle at 83% 29%, rgba(164, 164, 164, .03) 0, rgba(164, 164, 164, .03) 50%, rgba(60, 60, 60, .03) 50%, rgba(60, 60, 60, .03) 100%), radial-gradient(circle at 96% 62%, rgba(170, 170, 170, .03) 0, rgba(170, 170, 170, .03) 50%, rgba(169, 169, 169, .03) 50%, rgba(169, 169, 169, .03) 100%), linear-gradient(338deg, #028DD5, #05AC51);
    }
  </style>
</head>

<body class="bg-theme bg-theme13">
  <!--wrapper-->
  <div class="wrapper">
    <!--sidebar wrapper -->
    <%- include('./partials/sidebar') %>
    <!--end sidebar wrapper -->
    <!--start header -->
    <%- include('./partials/header') %>
    <!--end header -->
    <!--start page wrapper -->
    <div class="page-wrapper">
      <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
          <div class="breadcrumb-title pe-3">Categories</div>
          <div class="ps-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                  <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item" aria-current="page">Categories</li>
                <li class="breadcrumb-item active" aria-current="page">Add Category</li>
              </ol>
            </nav>
          </div>
        </div>
        <!--end breadcrumb-->
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-end mb-3">
              <a type="button" href="/admin/countries" class="btn btn-light px-2 radius-30"><i class="bx bx-spreadsheet me-1"></i>List All</a>
            </div>
            <div class="table-responsive">
              <table id="tableCountry" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Slug</th>
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Slug</th>
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Modals -->
      <!-- Delete Modals -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Category Forever</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want delete category "<span style="font-weight:500;color:#fff;"></span>" FORVER?</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary text-white bg-gradient-burning btn-delete">Delete</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--end page wrapper -->
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
    <!--End Back To Top Button-->
    <footer class="page-footer">
      <p class="mb-0">Copyright © 2021. All right reserved.</p>
    </footer>
  </div>
  <!--end wrapper-->
  <!-- Start Javascript Import -->
  <%- include('./partials/javascript-import') %>
  <script>

    const dataTable = $("#tableCountry").DataTable({
      scrollX: true,
      processing: true,
      serverSide: true,
      ajax: {
        url: '/admin/countries/datatables_ajax?type=<%=ajaxType%>',
        type: 'POST',
      },
      columns: [{
          name: 'country_id'
        },
        {
          name: 'country_name'
        },
        {
          name: 'country_slug'
        },
        {
          name: 'createdAt'
        },
        {
          name: null
        },
      ],
      columnDefs: [{  
      orderable: false,
        targets: [4],
      }],
    });
    $('#tableCountry_filter input').unbind();
    $('#tableCountry_filter input').bind('keyup', function(e) {
      if (e.keyCode == 13) {
        dataTable.search(this.value).draw();
      }
    });


     // Fill name, id of film to modal delete 
     function fillDataToDeleteForm(name, id) {
      document.querySelector('#deleteModal .modal-body span').textContent = name;
      document.querySelector('#deleteModal .modal-footer .btn-delete').onclick = function() {
        $.ajax({
          type: 'DELETE',
          url: '/admin/countries/destroy/' + id,
        }).done(() => {
          $('#deleteModal').modal('hide');
          dataTable.ajax.reload(null, false);
        });
      }
    }


    // Handle restore film
    function restoreCountry(id) {
      $.ajax({
        type: 'PATCH',
        url: '/admin/countries/restore/' + id,
      }).done(() => {
        dataTable.ajax.reload(null, false);
      });
    }


  </script>
  <!-- End Javascript Import -->
</body>

</html>