<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <style>
    #new-films-upload .recent-product-img {
      width: 54px;
      height: 70px;
      border-radius: 6px;
    }

    #new-films-upload .recent-product-img img {
      width: 100%;
      height: 100%;
      padding: 1px;
      border-radius: 6px;
    }

    #new-user-register .recent-product-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    #new-user-register .recent-product-img img {
      width: 100%;
      height: 100%;
      padding: 2px;
      border-radius: 50%;
    }
  </style>
</head>

<body class="bg-theme bg-theme13">
  <!--wrapper-->
  <div class="wrapper">
    <!--sidebar wrapper -->
    <%- include('./partials/sidebar') %>
    <!--end sidebar wrapper -->
    <!--start header -->
    <%- include('./partials/header') %>
    <!--end header -->
    <!--start page wrapper -->
    <div class="page-wrapper">
      <div class="page-content">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
          <div class="col">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div>
                    <p class="mb-0">Total Films</p>
                    <h4 class="my-1"><%=totalCount.film%></h4>
                  </div>
                  <div class="ms-auto font-35 text-white">
                    <i class="bx bx-movie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div>
                    <p class="mb-0">Total Episodes</p>
                    <h4 class="my-1"><%=totalCount.episode%></h4>
                  </div>
                  <div class="ms-auto font-35 text-white">
                    <i class="bx bx-archive"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div>
                    <p class="mb-0">Total Users</p>
                    <h4 class="my-1"><%=totalCount.user%></h4>
                  </div>
                  <div class="ms-auto font-35 text-white">
                    <i class="lni lni-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div>
                    <p class="mb-0">Total Follow</p>
                    <h4 class="my-1"><%=totalCount.follow%></h4>
                  </div>
                  <div class="ms-auto font-35 text-white">
                    <i class="bx bx-rss"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
        <div class="row">
          <div class="col-12 col-xl-6 d-flex justify-content-center">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div>
                    <h5 class="mb-0">New Films Upload</h5>
                  </div>
                  <div class="font-22 ms-auto">
                    <i class="bx bx-dots-horizontal-rounded"></i>
                  </div>
                </div>
                <hr />
                <div class="table-responsive">
                  <table id="new-films-upload" class="table align-middle mb-0">
                    <thead class="table-light">
                      <tr>
                        <th>ID</th>
                        <th>Film</th>
                        <th>Viewed</th>
                        <th>Upload By</th>
                        <th>Created</th>
                        <th>Viewable</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(const film of films) { %>
                      <tr>
                        <td><%=film._id%></td>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="recent-product-img">
                              <img src="<%=film.poster%>" alt="<%=film.originalName%>" />
                            </div>
                            <div class="ms-2">
                              <h6 class="mb-1 font-14">
                                <%=film.originalName%>  (<%=film.year%>)
                              </h6>
                              <div class="d-flex gap-1">
                                <span class="badge rounded-pill text-white bg-gradient-lush text-capitalize" style="max-width: 72px"><%=film.type%></span>
                                <span class="badge rounded-pill text-white bg-gradient-kyoto text-capitalize" style="max-width: 72px"><%=film.status%></span>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td><span class="d-block text-center"><%=film.viewed%></span></td>
                        <td>
                          <div class="d-flex flex-column align-items-center">
                            <div class="recent-product-img rounded-circle" style="width:50px;height:50px;">
                              <img class="rounded-circle" src="<%=film.createdBy[0].avatar%>" alt="avatar" />
                            </div>
                            <div class="ms-2">
                              <h6 class="mb-1 font-14"><%=film.createdBy[0].username%></h6>
                            </div>
                          </div>
                        </td>
                        <td>
                          <% if(film.createdAt instanceof Date) { %>
                          <%=film.createdAt.toISOString().substring(0, 10)%>
                          <% } else {%>
                          NaN
                          <% } %>
                        </td>
                        <td>
                          <% if(film.viewable) { %>
                            <div class="badge rounded-pill text-white bg-gradient-blues p-1 text-capitalize px-3">
                              <i class="bx bx-show align-middle me-1"></i> Public
                            </div>
                          <% } else { %>
                            <div class="badge rounded-pill text-white bg-gradient-burning p-1 text-capitalize px-3">
                              <i class="bx bx-hide align-middle me-1"></i> Hidden
                            </div>
                          <% } %>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6 d-flex justify-content-center">
            <div class="card radius-10">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div>
                    <h5 class="mb-0">New User Register</h5>
                  </div>
                  <div class="font-22 ms-auto">
                    <i class="bx bx-dots-horizontal-rounded"></i>
                  </div>
                </div>
                <hr />
                <div class="table-responsive">
                  <table id="new-user-register" class="table align-middle mb-0">
                    <thead class="table-light">
                      <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Email</th>
                        <th>Permission</th>
                        <th>Created</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(const user of users) { %>
                      <tr>
                        <td><%=user.id%></td>
                        <td>
                          <div class="d-flex flex-column align-items-center">
                            <div class="recent-product-img">
                              <img src="<%=user.avatar%>" alt="" />
                            </div>
                            <div class="ms-2">
                              <h6 class="mb-1 font-14"><%=user.username%></h6>
                            </div>
                          </div>
                        </td>
                        <td><%=user.email%></td>
                        <td>
                          <% if (user.level === 0) { %>
                          <span class="badge text-white bg-gradient-lush text-uppercase px-3">Admin</span>
                          <% } else { %>
                          <span class="badge text-white bg-gradient-kyoto text-uppercase px-3">Member</span>
                          <% } %>
                        </td>
                        <td>
                          <% if (user.createdAt instanceof Date) { %>
                          <%=user.createdAt.toISOString().substring(0, 10)%>
                          <% } else {%>
                          NaN
                          <% } %>
                        </td>
                        <td>
                          <% if(user.status) { %>
                            <div class="badge rounded-pill text-white bg-gradient-blues p-1 text-capitalize px-3">
                              <i class="bx bx-check-shield align-middle me-1"></i> Activated
                            </div>
                          <% } else { %>
                            <div class="badge rounded-pill text-white bg-gradient-burning p-1 text-capitalize px-3">
                              <i class="bx bx-shield-x align-middle me-1"></i> Banned
                            </div>
                          <% } %>
                        </td>
                        
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    
    </div>
    <!--end page wrapper -->
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--><a href="javaScript:;" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
    <!--End Back To Top Button-->
    <%- include('./partials/footer') %>
  </div>
  <!--end wrapper-->
  <!--start switcher-->
  <%- include('./partials/switcher') %>
  <!--end switcher-->
  <!-- Start Javascript Import -->
  <%- include('./partials/javascript-import') %>
  <!-- End Javascript Import -->
</body>

</html>