<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
		<!-- <link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.0/css/select.dataTables.min.css"> -->
		<link
			rel="stylesheet"
			href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css"
		/>
		<style>
			.recent-product-img {
				width: 54px;
				height: 70px;
				border-radius: 6px;
			}

			.recent-product-img img {
				width: 100%;
				height: 100%;
				padding: 1px;
				border-radius: 6px;
			}

			tbody tr td {
				text-align: center;
				vertical-align: middle;
			}

			.modal-content {
				background-image: radial-gradient(
						circle at 17% 1%,
						rgba(198, 198, 198, 0.03) 0,
						rgba(198, 198, 198, 0.03) 50%,
						rgba(42, 42, 42, 0.03) 50%,
						rgba(42, 42, 42, 0.03) 100%
					),
					radial-gradient(
						circle at 8% 81%,
						rgba(253, 253, 253, 0.03) 0,
						rgba(253, 253, 253, 0.03) 50%,
						rgba(36, 36, 36, 0.03) 50%,
						rgba(36, 36, 36, 0.03) 100%
					),
					radial-gradient(
						circle at 83% 29%,
						rgba(164, 164, 164, 0.03) 0,
						rgba(164, 164, 164, 0.03) 50%,
						rgba(60, 60, 60, 0.03) 50%,
						rgba(60, 60, 60, 0.03) 100%
					),
					radial-gradient(
						circle at 96% 62%,
						rgba(170, 170, 170, 0.03) 0,
						rgba(170, 170, 170, 0.03) 50%,
						rgba(169, 169, 169, 0.03) 50%,
						rgba(169, 169, 169, 0.03) 100%
					),
					linear-gradient(338deg, #028dd5, #05ac51);
			}
		</style>
	</head>

	<body class="bg-theme bg-theme13">
		<!--wrapper-->
		<div class="wrapper">
			<!--sidebar wrapper -->
			<%- include('./partials/sidebar') %>
			<!--end sidebar wrapper -->
			<!--start header -->
			<%- include('./partials/header') %>
			<!--end header -->
			<!--start page wrapper -->
			<div class="page-wrapper">
				<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
						<div class="breadcrumb-title pe-3">Films</div>
						<div class="ps-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item">
										<a href="javascript:;"><i class="bx bx-home-alt"></i></a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">Films</li>
								</ol>
							</nav>
						</div>
					</div>
					<!--end breadcrumb-->
					<div class="card">
						<div class="card-body">
							<div id="tableFilmsTop" class="mb-3">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<button
											class="btn btn-outline-light m-1"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#collapseFilter"
											aria-expanded="false"
											aria-controls="collapseFilter"
										>
											<i class="bx bx-filter-alt"></i>
											<span>Filter</span>
										</button>
										<a href="/admin/films/add" class="btn btn-outline-light m-1" type="button">
											<i class="bx bx-plus-circle"></i>
											<span>New Film</span>
										</a>
									</div>
									<div>
										<button
											class="btn btn-outline-light btn-sm float-end m-1"
											type="button"
											id="btn-many-delete"
											data-bs-toggle="modal"
											data-bs-target="#deleteModal"
										>
											<i class="bx bx-trash"></i>
											<span>Delete</span>
										</button>
										<button
											class="btn btn-outline-light btn-sm float-end m-1 d-none"
											type="button"
											id="btn-many-restore"
										>
											<i class="bx bx-undo"></i>
											<span>Restore</span>
										</button>
									</div>
								</div>
								<div class="collapse mt-2" id="collapseFilter">
									<div class="card card-body">
										<form id="tableFilmsFilterForm">
											<div class="row row-cols-auto g-3">
												<div class="col" style="min-width: 150px">
													<label
														for="filter_status"
														class="badge bg-light text-white font-13 fw-light w-100 mb-1 d-flex align-items-center gap-1"
													>
														<i class="bx bx-folder-open font-18"></i>
														Status
													</label>
													<select
														class="form-control filter-select"
														id="filter_status"
														name="filter_status"
														required
													>
														<option selected value="">--All--</option>
														<option value="complete">Complete</option>
														<option value="ongoing">Ongoing</option>
														<option value="trailer">Trailer</option>
													</select>
												</div>
												<div class="col" style="min-width: 150px">
													<label
														for="filter_type"
														class="badge bg-light text-white font-13 fw-light w-100 mb-1 d-flex align-items-center gap-1"
													>
														<i class="bx bx-folder-open font-18"></i>
														Type
													</label>
													<select
														class="form-control filter-select"
														id="filter_type"
														name="filter_type"
														required
													>
														<option selected value="">--All--</option>
														<option value="series">Series</option>
														<option value="movies">Movies</option>
														<option value="shownInCinema">Shown In Cinema</option>
														<option value="recommend">Recommend</option>
														<option value="canonical">Canonical</option>
													</select>
												</div>
												<div class="col" style="min-width: 150px">
													<label
														for="filter_category"
														class="badge bg-light text-white font-13 fw-light w-100 mb-1 d-flex align-items-center gap-1"
													>
														<i class="bx bx-spreadsheet font-18"></i>
														Category
													</label>
													<select
														class="form-control filter-select"
														id="filter_category"
														name="filter_category"
														required
													>
														<option selected value="">--All--</option>
														<option value="1">Hành Động</option>
														<option value="2">Viễn Tưởng</option>
														<option value="3">Chiến Tranh</option>
														<option value="5">Hình Sự</option>
														<option value="6">Phiêu Lưu</option>
													</select>
												</div>
												<div class="col" style="min-width: 150px">
													<label
														for="filter_country"
														class="badge bg-light text-white font-13 fw-light w-100 mb-1 d-flex align-items-center gap-1"
													>
														<i class="bx bx-globe font-18"></i>
														Country
													</label>
													<select
														class="form-control filter-select"
														id="filter_country"
														name="filter_country"
														required
													>
														<option selected value="">--All--</option>
														<option value="4">Mỹ</option>
														<option value="5">Trung Quốc</option>
														<option value="6">Nhật Bản</option>
														<option value="7">Hàn Quốc</option>
														<option value="9">Đài Loan</option>
														<option value="10">Úc</option>
													</select>
												</div>
												<div class="col" style="min-width: 150px">
													<label
														for="filter_info"
														class="badge bg-light text-white font-13 fw-light w-100 mb-1 d-flex align-items-center gap-1"
													>
														<i class="bx bx-info-circle font-18"></i>
														Info
													</label>
													<select
														class="form-control filter-select"
														id="filter_info"
														name="filter_info"
														required
													>
														<option selected value="">--All--</option>
														<option value="missingPoster">Missing Poster</option>
														<option value="missingBackdrops">Missing Backdrops</option>
														<option value="missingLogo">Missing Logo</option>
														<option value="missingTrailer">Missing Trailer</option>
														<option value="missingEpisode">Missing Episode</option>
													</select>
												</div>
												<div class="col" style="min-width: 150px">
													<label
														for="filter_deleted"
														class="badge bg-light text-white font-13 fw-light w-100 mb-1 d-flex align-items-center gap-1"
													>
														<i class="bx bx-trash font-18"></i>
														Deleted
													</label>
													<select
														class="form-control filter-select"
														id="filter_deleted"
														name="filter_deleted"
														required
													>
														<option selected value="">No</option>
														<option value="1">Yes</option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="mt-3 d-flex gap-3">
													<button
														type="button"
														class="btn btn-light flex-grow-1"
														style="max-width: 140px"
													>
														<i class="bx bx-filter"></i> Filter
													</button>
													<button
														type="button"
														class="btn btn-light flex-grow-1"
														style="max-width: 140px"
													>
														<i class="bx bx-eraser"></i> Reset
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="table-responsive">
								<table id="tableFilms" class="table table-striped table-bordered" style="width: 100%">
									<thead>
										<tr>
											<th></th>
											<th>ID</th>
											<th>Film</th>
											<th>Categories</th>
											<th>Episodes</th>
											<th>Created</th>
											<th>Viewable</th>
											<th>Action</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th></th>
											<th>ID</th>
											<th>Film</th>
											<th>Categories</th>
											<th>Episodes</th>
											<th>Created</th>
											<th>Viewable</th>
											<th>Action</th>
										</tr>
									</tfoot>
								</table>
							</div>
							<div id="tableFilmsBottom" class="mt-3"></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Modals -->
			<!-- Delete Modals -->
			<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="deleteModalLabel">Delete Film</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<span class="modal-body-text"></span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary text-white bg-gradient-burning btn-delete">
								Delete
							</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Edit Modals -->
			<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Edit Film</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="card">
								<div class="card-body">
									<form class="row g-3" id="form-info-film">
										<div class="col-12 mb-3">
											<label class="form-label">Name:</label>
											<input
												type="text"
												class="form-control"
												name="name"
												placeholder="Name"
												required
											/>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Original Name:</label>
											<input
												type="text"
												class="form-control"
												name="original_name"
												placeholder="Original Name"
												required
											/>
										</div>
										<div class="col-12 col-md-6 mb-3">
											<label class="form-label">Status:</label>
											<select class="form-select" name="status" placeholder="Status" required>
												<option selected value="complete">Complete</option>
												<option value="ongoing">Ongoing</option>
												<option value="trailer">Trailer</option>
											</select>
										</div>
										<div class="col-12 col-md-6 mb-3">
											<label class="form-label">Viewable:</label>
											<select class="form-select" name="viewable" placeholder="Viewable" required>
												<option selected value="1">Public</option>
												<option value="">Hidden</option>
											</select>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Poster:</label>
											<div class="input-group">
												<input
													type="url"
													class="form-control"
													name="poster"
													placeholder="http://example.com/images/poster-film.jpg"
													required
												/>
												<input
													type="file"
													accept="image/*"
													class="form-control"
													id="upload_poster"
													style="display: none"
												/>
												<label class="input-group-text" for="upload_poster"
													><i class="bx bx-image-add"></i
												></label>
												<label class="input-group-text btn-upload-img"
													><i class="me-2 bx bx-cloud-upload"></i>Upload</label
												>
											</div>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Backdrops:</label>
											<div class="input-group">
												<input
													type="url"
													class="form-control"
													name="backdrops"
													placeholder="http://example.com/images/backdrops-film.jpg"
													required
												/>
												<input
													type="file"
													accept="image/*"
													class="form-control"
													id="upload_backdrops"
													style="display: none"
												/>
												<label class="input-group-text" for="upload_backdrops"
													><i class="bx bx-image-add"></i
												></label>
												<label class="input-group-text btn-upload-img"
													><i class="me-2 bx bx-cloud-upload"></i>Upload</label
												>
											</div>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Backdrops Canonical:</label>
											<div class="input-group">
												<input
													type="url"
													class="form-control"
													name="backdrops_canonical"
													placeholder="http://example.com/images/backdrops-canonical-film.jpg"
												/>
												<input
													type="file"
													accept="image/*"
													class="form-control"
													id="upload_backdrops_canonical"
													style="display: none"
												/>
												<label class="input-group-text" for="upload_backdrops_canonical"
													><i class="bx bx-image-add"></i
												></label>
												<label class="input-group-text btn-upload-img"
													><i class="me-2 bx bx-cloud-upload"></i>Upload</label
												>
											</div>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Logo:</label>
											<div class="input-group">
												<input
													type="url"
													class="form-control"
													name="logo"
													placeholder="http://example.com/images/logo-film.jpg"
												/>
												<input
													type="file"
													accept="image/*"
													class="form-control"
													id="upload_logo"
													style="display: none"
												/>
												<label class="input-group-text" for="upload_logo"
													><i class="bx bx-image-add"></i
												></label>
												<label class="input-group-text btn-upload-img"
													><i class="me-2 bx bx-cloud-upload"></i>Upload</label
												>
											</div>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Categories:</label>
											<select
												class="multiple-select"
												name="categories[]"
												data-placeholder="Choose Categories"
												multiple="multiple"
												required
											>
												<% for (const category of categories) { %>
												<option value="<%=category.category_id%>">
													<%=category.category_name%>
												</option>
												<% } %>
											</select>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Countries:</label>
											<select
												class="multiple-select"
												name="countries[]"
												data-placeholder="Choose Countries"
												multiple="multiple"
												required
											>
												<% for (const country of countries) { %>
												<option value="<%=country.country_id%>">
													<%=country.country_name%>
												</option>
												<% } %>
											</select>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Trailer:</label>
											<input
												type="url"
												class="form-control"
												name="trailer"
												placeholder="Trailer"
												value=""
											/>
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">Duration:</label>
											<input
												class="form-control"
												min="0"
												name="duration"
												placeholder="Duration"
												value=""
											/>
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">Quality:</label>
											<input
												class="form-control"
												name="quality"
												placeholder="Quality"
												value=""
												required
											/>
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">Release:</label>
											<input
												class="form-control"
												type="number"
												min="1000"
												max="2050"
												name="year"
												placeholder="Release"
												required
											/>
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">Imdb:</label>
											<input class="form-control" name="imdb" placeholder="Imdb" value="" />
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">Language:</label>
											<select class="form-select" name="language" required>
												<option selected value="Vietsub">Vietsub</option>
												<option value="Thuyết Minh">Thuyết Minh</option>
												<option value="Lồng Tiếng">Lồng Tiếng</option>
												<option value="Vietsub + Thuyết Minh">Vietsub + Thuyết Minh</option>
												<option value="Vietsub + Lồng Tiếng">Vietsub + Lồng Tiếng</option>
												<option value="TM + LT">TM + LT</option>
												<option value="Nosub">Nosub</option>
											</select>
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">Type:</label>
											<select class="form-select" name="type" required>
												<option selected value="movie">Movie</option>
												<option value="series">Series</option>
												<option value="trailer">Trailer</option>
											</select>
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">In Cinema?:</label>
											<select class="form-select" name="in_cinema">
												<option selected value="">No</option>
												<option value="1">Yes</option>
											</select>
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">Recommend?:</label>
											<select class="form-select" name="recommend">
												<option selected value="">No</option>
												<option value="1">Yes</option>
											</select>
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">Canonical?:</label>
											<select class="form-select" name="canonical">
												<option selected value="">No</option>
												<option value="1">Yes</option>
											</select>
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">Notify:</label>
											<input class="form-control" name="notify" placeholder="Notify" />
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Description:</label>
											<textarea
												class="form-control"
												rows="3"
												name="description"
												placeholder="Description"
												required
											></textarea>
										</div>
										<div class="col-12 mb-3">
											<label class="form-label">Info:</label>
											<textarea
												class="form-control"
												rows="5"
												name="info"
												id="info_film"
												placeholder="Info"
												required
											></textarea>
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">Tags:</label>
											<input
												type="text"
												class="form-control"
												name="tags"
												data-role="tagsinput"
												placeholder="Tags"
												value=""
											/>
										</div>
										<div class="col-md-6 mb-3">
											<label class="form-label">Slug:</label>
											<input
												class="form-control"
												name="slug"
												placeholder="Slug (Auto Create)"
												value=""
											/>
										</div>
										<input name="film_id" value="" style="display: none" />
									</form>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn btn-primary text-white bg-gradient-blues btn-save"
								style="border-color: #fff"
							>
								Save changes
							</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button-->
		<a href="javaScript:;" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
		<!--End Back To Top Button-->
		<%- include('./partials/footer') %>
		<!--end wrapper-->
		<!-- Start Javascript Import -->
		<%- include('./partials/javascript-import') %>

		<script
			type="text/javascript"
			src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"
		></script>
		<script src="//cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
		<script>
			CKEDITOR.replace('info_film');

			const dataTable = $('#tableFilms').DataTable({
				scrollX: true,
				processing: true,
				serverSide: true,
				ajax: {
					url: '/admin/films/datatables_ajax',
					type: 'POST',
				},
				columns: [
					{ name: null },
					{ name: 'id' },
					{ name: 'originalName' },
					{ name: null },
					{ name: 'episodes' },
					{ name: 'createdAt' },
					{ name: null },
					{ name: null },
				],

				columnDefs: [
					{
						orderable: false,
						targets: [3, 6, 7],
					},
					{
						orderable: false,
						targets: 0,
						checkboxes: {
							selectRow: true,
						},
					},
				],
				select: {
					style: 'multi',
					selector: 'td:first-child > input[type="checkbox"], th:first-child > input[type="checkbox"]',
				},
				order: [[5, 'desc']],
				language: {
					processing:
						'<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span> Loading...</span>',
				},
			});
			$('#tableFilms_filter input').unbind();
			$('#tableFilms_filter input').bind('keyup', function (e) {
				if (e.keyCode == 13) {
					dataTable.search(this.value).draw();
				}
			});

			$('.filter-select').select2({
				theme: 'bootstrap4',
				width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
				placeholder: $(this).data('placeholder'),
				allowClear: Boolean($(this).data('allow-clear')),
				dropdownAutoWidth: true,
			});

			$('.single-select').select2({
				theme: 'bootstrap4',
				width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
				placeholder: $(this).data('placeholder'),
				allowClear: Boolean($(this).data('allow-clear')),
			});

			$('.multiple-select').select2({
				theme: 'bootstrap4',
				width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
				placeholder: $(this).data('placeholder'),
				allowClear: Boolean($(this).data('allow-clear')),
			});

			// Get data film and fill this data to form edit
			async function fillDataFilmToForm(id) {
				const film = await $.ajax({
					url: '/admin/films/read/' + id,
					type: 'GET',
				});
				const formEdit = document.getElementById('form-info-film');
				if (formEdit) {
					formEdit.querySelector('input[name="name"]').value = film.name;
					formEdit.querySelector('input[name="original_name"]').value = film.originalName;
					formEdit.querySelector('select[name="status"]').value = film.status;
					formEdit.querySelector('select[name="viewable"]').value = film.viewable ? 1 : '';
					formEdit.querySelector('input[name="poster"]').value = film.poster;
					formEdit.querySelector('input[name="backdrops"]').value = film.backdrops;
					formEdit.querySelector('input[name="backdrops_canonical"]').value = film.backdropsCanonical;
					formEdit.querySelector('input[name="logo"]').value = film.logo;
					$('.multiple-select[name="categories[]"]').val(film.category).change();
					$('.multiple-select[name="countries[]"]').val(film.country).change();
					formEdit.querySelector('input[name="trailer"]').value = film.trailer;
					formEdit.querySelector('input[name="duration"]').value = film.duration;
					formEdit.querySelector('input[name="quality"]').value = film.quality;
					formEdit.querySelector('input[name="year"]').value = film.year;
					formEdit.querySelector('input[name="imdb"]').value = film.imdb;
					formEdit.querySelector('select[name="language"]').value = film.language;
					formEdit.querySelector('select[name="type"]').value = film.type;
					formEdit.querySelector('select[name="in_cinema"]').value = film.inCinema ? 1 : '';
					formEdit.querySelector('select[name="recommend"]').value = film.recommend ? 1 : '';
					formEdit.querySelector('select[name="canonical"]').value = film.canonical ? 1 : '';
					formEdit.querySelector('input[name="notify"]').value = film.notify;
					formEdit.querySelector('textarea[name="description"]').value = film.description;
					CKEDITOR.instances['info_film'].setData(film.info);
					$('input[name="tags"]').tagsinput('removeAll');
					film.tag.forEach((tag) => $('input[name="tags"]').tagsinput('add', tag));
					formEdit.querySelector('input[name="slug"]').value = film.slug;
					formEdit.querySelector('input[name="film_id"]').value = film._id.toString();
				}
			}

			// Handle submit update
			const saveBtn = document.querySelector('#editModal .modal-footer .btn-save');
			if (saveBtn)
				saveBtn.onclick = function () {
					const formEdit = document.querySelector('#editModal form');
					const filmId = formEdit.querySelector('input[name="film_id"]').value;
					const dataForm = Object.fromEntries(new FormData(formEdit));
					dataForm.info = CKEDITOR.instances['info_film'].getData();
					dataForm['categories[]'] = $('#editModal form .multiple-select[name="categories[]"]')
						.select2('data')
						.reduce((categories, category) => {
							categories.push(category.id);
							return categories;
						}, []);
					dataForm['countries[]'] = $('#editModal form .multiple-select[name="countries[]"]')
						.select2('data')
						.reduce((countries, country) => {
							countries.push(country.id);
							return countries;
						}, []);
					$.ajax({
						type: 'PUT',
						url: '/admin/films/update/' + filmId,
						data: dataForm,
					})
						.done((res) => {
							$('#editModal').modal('hide');
							dataTable.ajax.reload(null, false);
							notyf.success(res.message);
						})
						.fail((res) => {
							$('#editModal').modal('hide');
							notyf.error(res.message);
						});
				};

			// Fill name, id of film to modal delete
			function fillDataToDeleteForm(nameFilm, idFilm) {
				document.querySelector(
					'#deleteModal .modal-body-text',
				).innerHTML = `Are you sure want delete film "<span style="font-weight: 500; color: #fff">${nameFilm}</span>"?`;
				document.querySelector('#deleteModal .modal-footer .btn-delete').onclick = function () {
					$.ajax({
						type: 'DELETE',
						url: '/admin/films/delete/' + idFilm,
					})
						.done((res) => {
							$('#deleteModal').modal('hide');
							dataTable.ajax.reload(null, false);
							notyf.success(res.message);
						})
						.fail((res) => {
							$('#deleteModal').modal('hide');
							notyf.error(res.message);
						});
				};
			}

			// Fill name, id of film to modal delete permanently
			function fillDataToDeletePermanentlyForm(nameFilm, idFilm) {
				document.querySelector(
					'#deleteModal .modal-body-text',
				).innerHTML = `Are you sure want delete film "<span style="font-weight: 500; color: #fff">${nameFilm}</span>"<span class="text-capitalize"> permanently</span>?`;
				document.querySelector('#deleteModal .modal-footer .btn-delete').onclick = function () {
					$.ajax({
						type: 'DELETE',
						url: '/admin/films/destroy/' + idFilm,
					})
						.done((res) => {
							$('#deleteModal').modal('hide');
							dataTable.ajax.reload(null, false);
							notyf.success(res.message);
						})
						.fail((res) => {
							$('#deleteModal').modal('hide');
							notyf.error(res.message);
						});
				};
			}

			// Handle restore film
			function restoreFilm(idFilm) {
				$.ajax({
					type: 'PATCH',
					url: '/admin/films/restore/' + idFilm,
				})
					.done((res) => {
						dataTable.ajax.reload(null, false);
						notyf.success(res.message);
					})
					.fail((res) => {
						dataTable.ajax.reload(null, false);
						notyf.error(res.message);
					});
			}

			// Handle many restore
			const btnManyRestore = document.getElementById('btn-many-restore');
			if (btnManyRestore)
				btnManyRestore.onclick = function handleManyRestore() {
					const selected = dataTable.columns().checkboxes.selected()[0];
					if (selected)
						$.ajax({
							type: 'PATCH',
							url: '/admin/films/restore-many/',
							data: { ids: selected },
						})
							.done((res) => {
								dataTable.ajax.reload(null, false);
								notyf.success(res.message);
							})
							.fail((res) => {
								dataTable.ajax.reload(null, false);
								notyf.error(res.message);
							});
				};

			// Handle many delete & many delete permanently
			const btnManyDelete = document.getElementById('btn-many-delete');
			if (btnManyDelete)
				btnManyDelete.onclick = function handleManyDelete() {
					const selected = dataTable.columns().checkboxes.selected()[0];
					const isDeletePermanently = !btnManyRestore.classList.contains('d-none');
					if (selected) {
						document.querySelector('#deleteModal .modal-body-text').innerHTML = `Are you sure want delete ${
							isDeletePermanently ? 'Permanently' : ''
						} these ${selected.length} films?`;
						document.querySelector('#deleteModal .modal-footer .btn-delete').onclick = function () {
							$.ajax({
								url: isDeletePermanently ? '/admin/films/destroy-many/' : '/admin/films/delete-many/',
								type: 'delete',
								data: { ids: selected },
							})
								.done((res) => {
									$('#deleteModal').modal('hide');
									dataTable.ajax.reload(null, false);
									notyf.success(res.message);
								})
								.fail(({ responseJSON }) => {
									$('#deleteModal').modal('hide');
									notyf.error(responseJSON.message);
								});
						};
					}
				};

			// Filter form
			const filterForm = document.getElementById('tableFilmsFilterForm');
			if (filterForm) {
				const { 6: btnFilter, 7: btnReset } = filterForm;
				btnReset.onclick = function () {
					window.location.pathname = '/admin/films';
				};
				btnFilter.onclick = function () {
					const { 0: status, 1: type, 2: category, 3: country, 4: info, 5: deleted } = filterForm;

					const params = {
						deleted: deleted.value,
						status: status.value,
						type: type.value,
						category: category.value,
						country: country.value,
						info: info.value,
					};

					let paramsStr = '?';
					for (const key in params)
						if (Object.hasOwnProperty.call(params, key)) paramsStr += `${key}=${params[key]}&`;

					dataTable.ajax.url('/admin/films/datatables_ajax/' + paramsStr).load();

					btnManyRestore.classList.toggle('d-none', !deleted.value);
				};
			}
		</script>
		<!-- End Javascript Import -->
	</body>
</html>
