<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <style>
    #new-films-upload .recent-product-img {
      width: 54px;
      height: 70px;
      border-radius: 6px;
    }

    #new-films-upload .recent-product-img img {
      width: 100%;
      height: 100%;
      padding: 1px;
      border-radius: 6px;
    }

    #new-user-register .recent-product-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    #new-user-register .recent-product-img img {
      width: 100%;
      height: 100%;
      padding: 2px;
      border-radius: 50%;
    }
  </style>
</head>

<body class="bg-theme bg-theme13">
  <!--wrapper-->
  <div class="wrapper">
    <!--sidebar wrapper -->
    <%- include('./partials/sidebar') %>
    <!--end sidebar wrapper -->
    <!--start header -->
    <%- include('./partials/header') %>
    <!--end header -->
    <!--start page wrapper -->
    <div class="page-wrapper">
      <div class="page-content">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="<%=user.avatar%>" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                  <div class="mt-3">
                    <h4><%=user.name%></h4>
                    <% if(user.level === 0) { %>
                    <span class="badge text-white bg-gradient-lush text-uppercase px-3 mb-2">Admin</span>
                    <% } else { %>
                    <span class="badge text-white bg-gradient-blues text-uppercase px-3 mb-2">Poster</span>
                    <% } %>
                    <p class="font-size-sm mb-1">Created At: <%=user.createdAt.substring(0, 10)%></p>
                    <p class="font-size-sm mb-4">Updated At: <%=user.updatedAt.substring(0, 10)%></p>
                    <button class="btn btn-light" style="font-size:0.8rem;"><i class="bx bx-box me-1"></i>Box
                      Film</button>
                    <button class="btn btn-light" style="font-size:0.8rem;"><i
                        class="bx bx-comment-detail me-1"></i>Recent Comment</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card">
              <div class="card-body">
                <form id="form-info">
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">User Name</h6>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="name" value="<%=user.name%>" required />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9">
                      <input type="email" class="form-control" name="email" value="<%=user.email%>" required />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">User Avatar</h6>
                    </div>
                    <div class="col-sm-9">
                    <div class="input-group ig-upload-img">
                      <input type="url" class="form-control" name="avatar" value="<%=user.avatar%>" required />
                      <input type="file" accept="image/*" class="form-control d-none" id="upload_avatar" />
                      <label class="input-group-text cursor-pointer" for="upload_avatar"><i class="bx bx-image-add"></i></label>
										  <label class="input-group-text btn-upload-img cursor-pointer"><i class="me-2 bx bx-cloud-upload"></i>Upload</label>
                    </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Membership</h6>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-select" name="role" required>
                        <% roles.forEach(role => { %>
													<option value="<%=role._id%>"><%=role.name%></option>
												<% }); %>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                      <button type="button" class="btn btn-light px-4 btn-change-info">Save Changes</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <form id="form-password">
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Change Password</h6>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="password" required />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                      <button type="button" class="btn btn-light px-4 btn-change-password">Change</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end page wrapper -->
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--><a href="javaScript:;" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
    <!--End Back To Top Button-->
    <%- include('./partials/footer') %>
  </div>
  <!--end wrapper-->
  <!--start switcher-->
  <%- include('./partials/switcher') %>
  <!--end switcher-->
  <!-- Start Javascript Import -->
  <%- include('./partials/javascript-import') %>
  <script>
    const USER_ID = "<%=user._id.toString()%>";
    let USER_ROLE_ID = '';
    
    const roleSelect = document.querySelector('#form-info select[name="role"]');

    $(document).ready(function(){
      $.ajax({
        type: 'POST',
        url: '/admin/roles/get-user-role',
        data: {userId: USER_ID}
      }).done(function (res) {
        // chose role select
        roleSelect.value = res.roleId;
        // disabled/enabled role select
        roleSelect.disabled = !res.role.permissions.includes('SR');
        // set user role
        USER_ROLE_ID = res.roleId;
      }).fail(function ({ responseJSON }) {
        notyf.error(responseJSON.message);
      });
    });

    const formInfo = document.querySelector('#form-info');
    const formPassword = document.querySelector('#form-password');
    const btnChangeInfo = document.querySelector('.btn-change-info');
    const btnChangePassWord = document.querySelector('.btn-change-password');

    // Handle submit change info
    if (btnChangeInfo) btnChangeInfo.onclick = function () {
      const { role, ...dataForm } = Object.fromEntries(new FormData(formInfo));

      // update info
      $.ajax({
        type: 'PATCH',
        url: '/admin/users/update/' + USER_ID,
        data: dataForm,
      })
        .done((res) => {
          notyf.success(res.message);
        })
        .fail(({ responseJSON }) => {
          notyf.error(responseJSON.message);
        });

      // set role
      if (role !== USER_ROLE_ID)
        $.ajax({
          type: 'POST',
          url: '/admin/roles/set-user-role',
          data: { userId: USER_ID, roleId: role },
        })
          .done((res) => {
            notyf.success(res.message);
          })
          .fail(({ responseJSON }) => {
            notyf.error(responseJSON.message);
          });


    }

    // Handle submit change password
    if (btnChangePassWord) btnChangePassWord.onclick = function () {
      const password = formPassword.querySelector(input[name="password"]);
      $.ajax({
        type: 'PATCH',
        url: '/admin/users/update/' + user_id,
        data: { password },
      }).done((res) => {
				notyf.success(res.message);
      }).fail(({ responseJSON }) => {
				notyf.error(responseJSON.message);
      });
    }
  </script>
  <!-- End Javascript Import -->
</body>

</html>