<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
		<style>
			.recent-product-img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}

			.recent-product-img img {
				width: 100%;
				height: 100%;
				padding: 2px;
				border-radius: 50%;
			}

			tbody tr td {
				text-align: center;
				vertical-align: middle;
			}
		</style>
	</head>

	<body class="bg-theme bg-theme13">
		<!--wrapper-->
		<div class="wrapper">
			<!--sidebar wrapper -->
			<%- include('./partials/sidebar') %>
			<!--end sidebar wrapper -->
			<!--start header -->
			<%- include('./partials/header') %>
			<!--end header -->
			<!--start page wrapper -->
			<div class="page-wrapper">
				<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
						<div class="breadcrumb-title pe-3">Roles</div>
						<div class="ps-3">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item">
										<a href="javascript:;"><i class="bx bx-home-alt"></i></a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">Roles</li>
								</ol>
							</nav>
						</div>
					</div>
					<!--end breadcrumb-->
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-end mb-3">
								<button
									type="button"
									class="btn btn-outline-light px-2 me-1"
									data-bs-toggle="modal"
									data-bs-target="#addModal"
								>
									<i class="bx bx-plus-circle me-1"></i>New Role
								</button>
							</div>
							<div class="table-responsive">
								<table id="tableRole" class="table table-striped table-bordered" style="width: 100%">
									<thead>
										<tr>
											<th>Name</th>
											<th>Users</th>
											<th>Created</th>
											<th>Updated</th>
											<th>Action</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Name</th>
											<tUsers>Mail</tUsers>
											<th>Created</th>
											<th>Updated</th>
											<th>Action</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- Modals -->
				<!-- Delete Modals -->
				<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteModalLabel">Delete Role</h5>
								<button
									type="button"
									class="btn-close"
									data-bs-dismiss="modal"
									aria-label="Close"
								></button>
							</div>
							<div class="modal-body">
								<span class="modal-body-text"></span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary text-white bg-gradient-burning btn-delete">
									Delete
								</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Edit Modals -->
				<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-xl modal-dialog-scrollable">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Role</h5>
								<button
									type="button"
									class="btn-close"
									data-bs-dismiss="modal"
									aria-label="Close"
								></button>
							</div>
							<div class="modal-body">
								<div class="card">
									<div class="card-body">
										<form class="row g-3">
											<div class="col-md-12 mb-3">
												<label class="form-label">Role Name:</label>
												<input
													type="text"
													class="form-control"
													name="name"
													placeholder="Role Name"
												/>
											</div>
											<div class="col-md-12 mb-3">
												<label class="form-label">Permission:</label>
												<div class="row">
													<% for (const key in listPermissions) if
													(Object.hasOwnProperty.call(listPermissions, key)) { %>
													<div class="col-xl-3 col-md-4 col-sm-6">
														<div class="form-check">
															<input
																class="form-check-input"
																type="checkbox"
																name="permissions"
																id="<%=listPermissions[key]%>"
																value="<%=listPermissions[key]%>"
															/>
															<label
																class="form-check-label text-capitalize"
																for="<%=listPermissions[key]%>"
															><%=key%></label>
														</div>
													</div>
													<% } %>
												</div>
											</div>
											<input name="role_id" class="d-none" />
										</form>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button
									type="button"
									class="btn btn-primary text-white bg-gradient-blues btn-save"
									style="border-color: #fff"
								>
									Save changes
								</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Add Modals -->
				<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-scrollable">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Role</h5>
								<button
									type="button"
									class="btn-close"
									data-bs-dismiss="modal"
									aria-label="Close"
								></button>
							</div>
							<div class="modal-body">
								<div class="card">
									<div class="card-body">
										<form class="row g-3">
											<div class="col-md-12 mb-3">
												<label class="form-label">Role Name:</label>
												<input
													type="text"
													class="form-control"
													name="name"
													placeholder="Role Name"
												/>
											</div>
											<div class="col-md-12 mb-3">
												<label class="form-label">Permission:</label>
												<div class="row">
													<% for (const key in listPermissions) if
													(Object.hasOwnProperty.call(listPermissions, key)) { %>
													<div class="col-xl-3 col-md-4 col-sm-6">
														<div class="form-check">
															<input
																class="form-check-input"
																type="checkbox"
																name="permissions"
																id="<%=listPermissions[key]%>"
																value="<%=listPermissions[key]%>"
															/>
															<label
																class="form-check-label text-capitalize"
																for="<%=listPermissions[key]%>"
																><%=key%></label
															>
														</div>
													</div>
													<% } %>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button
									type="button"
									class="btn btn-primary text-white bg-gradient-blues btn-create"
									style="border-color: #fff"
								>
									Create
								</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page wrapper -->
			<!--start overlay-->
			<div class="overlay toggle-icon"></div>
			<!--end overlay-->
			<!--Start Back To Top Button-->
			<a href="javaScript:;" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
			<!--End Back To Top Button-->
			<%- include('./partials/footer') %>
		</div>
		<!--end wrapper-->
		<!--start switcher-->
		<%- include('./partials/switcher') %>
		<!--end switcher-->
		<!-- Start Javascript Import -->
		<%- include('./partials/javascript-import') %>
		<script>
			const dataTable = $('#tableRole').DataTable({
				scrollX: true,
				processing: true,
				serverSide: true,
				ajax: {
					url: '/admin/roles/datatables_ajax/',
					type: 'POST',
				},
				columns: [
					{ name: 'name' },
					{ name: null },
					{ name: 'createdAt' },
					{ name: 'updatedAt' },
					{ name: null },
				],
				columnDefs: [
					{
						orderable: false,
						targets: [1, , 4],
					},
				],
			});

			$('#tableRole_filter input')
				.unbind()
				.bind('keyup', function (e) {
					if (e.keyCode == 13) dataTable.search(this.value).draw();
				});

			// Handle create new Role
			const btnSave = document.querySelector('#addModal .modal-footer .btn-create');
			btnSave.onclick = function () {
				const formCreate = document.querySelector('#addModal form');

				const name = formCreate.querySelector('input[name="name"]').value;
				const permissions = [];

				// get permissions checked
				formCreate
					.querySelectorAll('input[type="checkbox"][name="permissions"]')
					.forEach(function (permissionElm) {
						if (permissionElm.checked) permissions.push(permissionElm.value);
					});

				$.ajax({
					type: 'POST',
					url: '/admin/roles/create',
					data: { name, permissions },
				})
					.done((res) => {
						formCreate.reset();
						$('#addModal').modal('hide');
						dataTable.ajax.reload(null, false);
						notyf.success(res.message);
					})
					.fail(({ responseJSON }) => {
						formCreate.reset();
						$('#addModal').modal('hide');
						notyf.error(responseJSON.message);
					});
			};

			// Fill name, id of role to delete form
			function fillDataToDeleteForm(name, id) {
				document.querySelector(
					'#deleteModal .modal-body-text',
				).innerHTML = `Are you sure want delete role "<span style="font-weight: 500; color: #fff">${name}</span>"?`;
				document.querySelector('#deleteModal .modal-footer .btn-delete').onclick = function () {
					$.ajax({
						type: 'DELETE',
						url: '/admin/roles/delete/' + id,
					})
						.done((res) => {
							$('#deleteModal').modal('hide');
							dataTable.ajax.reload(null, false);
							notyf.success(res.message);
						})
						.fail(({ responseJSON }) => {
							$('#deleteModal').modal('hide');
							notyf.error(responseJSON.message); 
						});
				};
			}

			// Fill data of role to edit form
			async function fillDataToEditForm(id) {
				const dataRole = await $.ajax({
					url: '/admin/roles/read/' + id,
					type: 'GET',
				});
				const formEdit = document.querySelector('#editModal form');
				formEdit.querySelector('input[name="name"]').value = dataRole.name;
				formEdit.querySelector('input[name="role_id"]').value = dataRole._id;
				formEdit
					.querySelectorAll('input[type="checkbox"][name="permissions"]')
					.forEach(function (permissionElm) {
						permissionElm.checked = dataRole.permissions.includes(permissionElm.value);
					});
			}

			// Handle submit update
			const btnSaveUser = document.querySelector('#editModal .modal-footer .btn-save');
			if (btnSaveUser)
				btnSaveUser.onclick = function () {
					const formEdit = document.querySelector('#editModal form');

					const name = formEdit.querySelector('input[name="name"]').value;
					const roleId = formEdit.querySelector('input[name="role_id"]').value;
					const permissions = [];

					// get permissions checked
					formEdit
						.querySelectorAll('input[type="checkbox"][name="permissions"]')
						.forEach(function (permissionElm) {
							if (permissionElm.checked) permissions.push(permissionElm.value);
						});

					$.ajax({
						type: 'PATCH',
						url: '/admin/roles/update/' + roleId,
						data: { name, permissions },
					})
						.done((res) => {
							$('#editModal').modal('hide');
							dataTable.ajax.reload(null, false);
							notyf.success(res.message);
						})
						.fail(({ responseJSON }) => {
							$('#editModal').modal('hide');
							notyf.error(responseJSON.message);
						});
				};
		</script>
		<!-- End Javascript Import -->
	</body>
</html>
